.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  background-color: #fff;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.nav-logo img {
  width: 50px;
  height: auto;
}

.nav-logo p {
  color: #171717;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  color: #626262;
  font-size: 18px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 2px;
  border-radius: 5px;
  background: #778c62;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

.nav-login-cart img {
  width: 35px;
  height: 35px;
}

.nav-login-cart button {
  width: 100px;
  height: 40px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 50px;
  color: #515151;
  font-size: 16px;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.nav-login-cart button:hover {
  background-color: #778c62;
  color: #f3f3f3
}

.nav-login-cart button:active {
  background: #778c62db;
  transform: scale(0.95);
}

.nav-cart-count {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -40px;
  border-radius: 50%;
  font-size: 10px;
  background: red;
  color: white;
}

.nav-menu-dropdown {
  display: none;
}

.nav-profile-container {
  position: relative;
  margin-right: 16px;
}

.nav-profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.profile-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.profile-menu-visible {
  display: block;
}

.profile-menu button {
  width: 100%;
  padding: 8px 16px;
  background: white;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3 ease;
}

.profile-menu button:hover {
  background: #778c62;
}

.profile-menu button:active {
  transform: scale(0.95);
}

@media (max-width: 1280px) {
  .navbar {
    padding: 12px 40px;
  }

  .nav-logo p {
    font-size: 28px;
  }

  .nav-menu {
    gap: 30px;
    font-size: 16px;
  }

  .nav-login-cart {
    gap: 25px;
  }

  .nav-cart-count {
    margin-left: -32px;
    font-size: 11px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 12px 20px;
  }

  .nav-menu {
    gap: 20px;
    font-size: 14px;
  }

  .nav-login-cart button {
    width: 70px;
    height: 30px;
    font-size: 14px;
  }

  .nav-profile-icon {
    width: 28px;
    height: 28px;
  }

  .nav-login-cart img {
    width: 28px;
    height: 28px;
  }

  .nav-cart-count {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 10px 0;
  }

  .nav-menu-dropdown {
    display: block;
    width: 28px;
    height: 28px;
    transition: 0.5s;
    cursor: pointer;
    transform: rotate(-90deg);
  }

  .nav-menu {
    display: none;
    height: 70px;
    width: 100%;
    position: absolute;
    background-color: white;
    justify-content: center;
    top: 50px;
  }

  .nav-menu-visible {
    display: flex;
  }

  .nav-menu-dropdown.open {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 8px 0;
    gap: 0;
  }

  .nav-logo {
    transform: scale(0.9);
  }

  .nav-menu {
    height: 60px;
    top: 50px;
  }

  .nav-login-cart {
    transform: scale(0.9);
  }

  .nav-menu-dropdown {
    transform: scale(0.9);
    transform: rotate(-90deg);
  }

  .nav-menu-dropdown.open {
    transform: rotate(0deg);
  }
}
