.styleenone{
    text-decoration: none;
    color: inherit;
}

.mainhead1{
    color: var(--col1);
    font-size: 30px;
    font-weight: 300;
    padding: 5px 10px;
    margin-top: 10px;
}

.mainbutton1{
    background: none;
    border: 1px solid var(--col1);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
    color: var(--col1);
}

.mainbutton1:hover{
    background-color: var(--col1);
    color: rgb(61, 228, 69);
    transform: scale(1.1);
    transition: all 0.6 ease-in-out;
}